@font-face{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/Open-sans_regular.eot');
	src: url('../../fonts/Open-sans_regular.ttf') format("truetype"),
		url('../../fonts/Open-sans_regular.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Open-sans_regular.woff2') format('woff2'),
		url('../../fonts/Open-sans_regular.woff') format('woff'),
		url('../../fonts/Open-sans_regular.svg#OpenSans') format('svg');
}
